.master__figure {
    margin: 64px auto 0;
    font-size: 0;
    width: 984px;
    height: 615px;
}

@media screen and (max-width:1279px) {
    .master__figure {
        margin: 56px auto 0;
        width: 928px;
        height: 580px;
    }
}

@media screen and (max-width:1023px) {
    .master__figure {
        margin: 56px auto 0;
        width: 768px;
        height: 480px;
    }
}

@media screen and (max-width:800px) {
    .master__figure {
        margin: 40px auto 0;
        width: 650px;
        height: 400px;
    }
}


@media screen and (max-width:767px) {
    .master__figure {
        margin: 40px auto 0;
        width: 320px;
        height: 200px;
    }
}