.additional__title {
    margin: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}


@media screen and (max-width:767px) {
    .additional__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}