.additional {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1184px;
    min-height: 740px;
}


@media screen and (max-width:1279px) {
    .additional {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width:1052px) {
    .additional {
        min-height: 480px;
    }
}

@media screen and (max-width: 920px) {
    .additional {
        min-height: 480px;
    }
}

@media screen and (max-width:767px) {
    .additional {
        padding-top: 21px;
        min-height: 200px;
    }
}