.photo {
    padding: 0 48px;
}

@media screen and (max-width:1279px) {
    .photo {
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width:767px) {
    .photo {
        padding: 0 16px;
    }
}